:root {
    --brightOrange: hsl(31, 77%, 52%);
    --darkCyan: hsl(184, 100%, 22%);
    --veryDarkCyan: hsl(179, 100%, 13%);
    /* (paragraphs) */
    --white: hsla(0, 0%, 100%, 0.75);
    /* (background, headings, buttons) */
    --veryLightGray: hsl(0, 0%, 95%);
}
*{
    box-sizing: border-box;
}
html,body{
    height: 100vh;
}
body {
    color: var(--veryLightGray);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 2rem 0;
}

p {
    color: var(--white);
    opacity: 0.8;
    line-height: 1.7;
    margin:0
}
.container{
    padding:5rem 2rem;   
   }
.section {
    display: flex;
    max-width: 920px;
    height:500px;
    margin: 0 auto;
}

.card {
    padding: 3rem;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    flex: 1;
}

.bse {
    background-color: var(--brightOrange);
    border-radius: 10px 0px 0px 10px ;
}

.bsu {
    background-color: var(--darkCyan);
}

.blu {
    background-color: var(--veryDarkCyan);
    border-radius: 0px 10px 10px 0px;
}

.button {
    background-color: var(--veryLightGray);
    text-align: center;
    border-radius: 25px;
    padding: 15px;
    width: 145px;
}

.button:hover {
    color: var(--veryLightGray);
    border:2px solid var(--veryLightGray);
}

.cse {
    color: var(--brightOrange);
}

.cse:hover {
    background-color: var(--brightOrange);
}

.csu {
    color: var(--darkCyan);
}

.csu:hover {
    background-color: var(--darkCyan);
}

.clu {
    color: var(--veryDarkCyan);
}

.clu:hover {
    background-color: var(--veryDarkCyan);
}

@media screen and (max-width: 750px) {
    html,body{
        height: unset;
    }
    .container{
     padding:5rem 1rem;   
    }
    .section {
        display: block;
        height: auto;
        max-width: 400px;
    } 
    .card{
        height: 445px;
    } 
    .bse {
        border-radius: 10px 10px 0px 0px  ;
    }
    
    .blu {
        background-color: var(--veryDarkCyan);
        border-radius: 0px 0px 10px 10px ;
    }
    
}